﻿@model MyFizzBuzzApp.Models.OutputViewModel
@using PagedList.Mvc;
@using MyFizzBuzzApp.Models;
@{
    ViewBag.Title = "Display";
}

<h2> Display values</h2>

<div class="row">
    <div class="col-md-4">

        @foreach (var number in Model.FizzBuzzOutput)
        {
            if (number == "FizzBuzz" || number == "WizzWuzz")
            {
                <span class="fizz">Fizz</span><span class="buzz">Buzz</span>
            }
            else if (number == "Fizz" || number == "Wizz")
            {
                <span class="fizz"> @number</span>
            }
            else if (number == "Buzz" || number == "Wuzz")
            {
                <span class="buzz"> @number</span>
            }
            else
            {
                <span class="number"> @number</span>
            }
            <br />
        }

    </div>
</div>
<div >
    @*asp.net helper*@
    @{
        var pagedList = Model.FizzBuzzOutput as PagedList.IPagedList;
        @Html.PagedListPager(Model.FizzBuzzOutput as PagedList.IPagedList, pageX => Url.Action("PlayPage", "FizzBuzz", new { page = pageX, userInput = pagedList.TotalItemCount }));
    }

</div>


