﻿@model  MyFizzBuzzApp.Models.UserInputViewModel
@{
    ViewBag.Title = "Play";
}
@*Form to put inpit Fizz number*@
<h2>Play</h2>

@using (Html.BeginForm("Play", "FizzBuzz", "Post"))
{
    @Html.ValidationSummary(true)
<div class="col-md-10">

    @Html.EditorFor(model => model.UserNumber)
    @Html.ValidationMessageFor(model => model.UserNumber)
</div>
    <input type="submit" value="Execute" class="btn btn-default" />
}