﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To FizzBuzz Game !</h1>



</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <p class="lead">@Html.ActionLink("Click below to start the game", "Play", "FizzBuzz")</p>

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>